# Add IngressGateway
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: team22-gateway
  namespace: istio-system
spec:
  selector:
    istio: ingressgateway
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "team22.192-168-56-90.sslip.io"
        - "team22-dev.192-168-56-90.sslip.io"