# VirtualService for App (Canary/Stable routing)
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: app-virtualservice
spec:
  hosts:
    - "{{ .Values.global.stableSubdomain }}.{{ .Values.global.domain }}"
    - "{{ .Values.global.prereleaseSubdomain }}.{{ .Values.global.domain }}"
  gateways:
    - istio-system/{{ .Values.global.ingressGatewayName }}
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: app-svc
            subset: stable
          weight: 100
---
# DestinationRule for App (Stable/Canary subsets)
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: app-dr
spec:
  host: app-svc
  subsets:
    - name: stable
      labels:
        version: stable
    - name: canary
      labels:
        version: canary
