# Add virtual service for app
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: app-virtualservice
spec:
  hosts:
    - "{{ .Values.global.stableSubdomain }}.{{ .Values.global.domain }}"
    - "{{ .Values.global.prereleaseSubdomain }}.{{ .Values.global.domain }}"
  gateways:
    - istio-system/{{ .Values.global.ingressGatewayName }}
  http:
      # 1) Users with canary=true cookie always go to v2
      - match:
          - headers:
              cookie:
                regex: "^(.*;)?(canary=true)(;.*)?$"
        route:
          - destination:
              host: app-service
              subset: v2
      # 2) Users with canary=false cookie always go to v1
      - match:
          - headers:
              cookie:
                regex: "^(.*;)?(canary=false)(;.*)?$"
        route:
          - destination:
              host: app-service
              subset: v1
      # 3) New users (no cookie): do 90/10 and SET the cookie
      - route:
          - destination:
              host: app-service
              subset: v1
            weight: 90
            headers:
              response:
                add:
                  Set-Cookie: "canary=false; Path=/sms; Max-Age=3600"
          - destination:
              host: app-service
              subset: v2
            weight: 10
            headers:
              response:
                add:
                  Set-Cookie: "canary=true; Path=/sms; Max-Age=3600"
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: model-service-virtualservice
spec:
  hosts:
    - model-service
  gateways:
    - mesh 
  http:
    - match:
      - sourceLabels:
          version: v2
      route:
      - destination:
          host: model-service
          subset: v2
    - route:
      - destination:
          host: model-service
          subset: v1

---
# Add destination rule for app
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: app-dr
spec:
  host: app-service
  subsets:
    - name: v1
      labels:
        version: v1
    - name: v2
      labels:
        version: v2
---
# Add destination rule for model-service
apiVersion: networking.istio.io/v1beta1
kind: DestinationRule
metadata:
  name: model-dr
spec:
  host: model-service
  subsets:
    - name: v1
      labels:
        version: v1
    - name: v2
      labels:
        version: v2
