---
# Create a deployment for model-service stable version
apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-service-v1
  labels:
    app: model-service
    version: v1
spec:
  replicas: { { .Values.modelservice.stable.replicaCount } }
  selector:
    matchLabels:
      app: model-service
      version: v1
  template:
    metadata:
      labels:
        app: model-service
        version: v1
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: model-service
          image: "{{ .Values.modelservice.stable.image.repository }}:{{ .Values.modelservice.stable.image.tag }}"
          ports:
            - containerPort: { { .Values.modelservice.stable.port } }
          env:
            - name: API_TIMEOUT_MS
              value: "{{ .Values.config.appConfig.API_TIMEOUT_MS }}"
            - name: FEATURE_FLAG_TEST
              value: "{{ .Values.config.appConfig.FEATURE_FLAG_TEST }}"
---
# Create a deployment for model-service canary version
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: model-service-v2
  labels:
    app: model-service
    version: v2
spec: 
    replicas: {{ .Values.modelservice.canary.replicaCount }}
    selector:
        matchLabels:
            app: model-service # links to the template below
            version: v2
    template:
        metadata:
            labels:
                app: model-service
                version: v2
                sidecar.istio.io/inject: "true"
        spec:
            containers:
            -   name: model-service
                image: "{{ .Values.modelservice.canary.image.repository }}:{{ .Values.modelservice.canary.image.tag }}"
                ports:
                -   containerPort: {{ .Values.modelservice.canary.port }}
                env:
                -   name: API_TIMEOUT_MS
                    value: "{{ .Values.config.appConfig.API_TIMEOUT_MS }}"
                -   name: FEATURE_FLAG_TEST
                    value: "{{ .Values.config.appConfig.FEATURE_FLAG_TEST }}"
---
# Deployment for App Service (Stable)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-service-v1
  labels:
    app: app-service
    version: v1
spec:
  replicas: { { .Values.app.stable.replicaCount } }
  selector:
    matchLabels:
      app: app-service
      version: v1
  template:
    metadata:
      labels:
        app: app-service
        version: v1
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: app-service
          image: "{{ .Values.app.stable.image.repository }}:{{ .Values.app.stable.image.tag }}"
          ports:
            - containerPort: { { .Values.app.stable.port } }
          env:
            - name: MODEL_HOST
              value: "http://model-service:{{ .Values.modelservice.stable.port }}"
---
# Deployment for App Service (Canary)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-service-v2
  labels:
    app: app-service
    version: v2
spec:
  replicas: { { .Values.app.canary.replicaCount } }
  selector:
    matchLabels:
      app: app-service
      version: v2
  template:
    metadata:
      labels:
        app: app-service
        version: v2
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: app-service
          image: "{{ .Values.app.canary.image.repository }}:{{ .Values.app.canary.image.tag }}"
          ports:
            - containerPort: { { .Values.app.canary.port } }
          env:
            - name: MODEL_HOST
              value: "http://model-service:{{ .Values.modelservice.canary.port }}"
