- name: Kubernetes Controller Setup
  hosts: controller
  tasks:
    - name: Initialize Kubernetes Control Plane
      become: true
      ansible.builtin.command:
        cmd: >
          kubeadm init
          --apiserver-advertise-address=192.168.56.100
          --node-name ctrl
          --pod-network-cidr=10.244.0.0/16
        creates: /etc/kubernetes/admin.conf

    - name: Create directories for persistence
      become: true
      ansible.builtin.file:
        path: "/home/vagrant/.kube"
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0755"

    - name: Copy Kubeconfig to vagrant user
      become: true
      ansible.builtin.copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        group: vagrant
        owner: vagrant
        mode: "0644"
        remote_src: true

    - name: Copy Kubeconfig to host
      become: true
      ansible.builtin.fetch:
        src: /etc/kubernetes/admin.conf
        dest: ../admin.conf # == path/to/operation/ (because the playbook is run in ansible we go back by one)
        flat: true

    - name: Copy Kube-flannel Configuration
      ansible.builtin.copy:
        src: ./kube/kube-flannel.yml
        dest: /home/vagrant/kube-flannel.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Apply Kube-flannel Network Configuration
      kubernetes.core.k8s:
        state: present
        src: /home/vagrant/kube-flannel.yml

    - name: Add Helm APT GPG key
      ansible.builtin.shell: |
        curl -fsSL https://packages.buildkite.com/helm-linux/helm-debian/gpgkey \
        | gpg --dearmor -o /usr/share/keyrings/helm.gpg
      args:
        creates: /usr/share/keyrings/helm.gpg
      become: true

    - name: Add Helm APT repository
      ansible.builtin.apt_repository:
        repo: >
          deb [signed-by=/usr/share/keyrings/helm.gpg]
          https://packages.buildkite.com/helm-linux/helm-debian/any/ any main
        filename: helm-stable-debian
        state: present
      become: true

    - name: Install helm package
      ansible.builtin.apt:
        name: helm
        state: present
        update_cache: true
      become: true

    - name: Install Helm Diff plugin
      kubernetes.core.helm_plugin:
        plugin_path: https://github.com/databus23/helm-diff
        state: present
