- hosts: all
  become: true
  tasks:
    - name: Create .ssh directory
      ansible.builtin.file:
        path: /home/vagrant/.ssh
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0700"