- name: Kubernetes Controller Setup
  hosts: controller
  tasks:
    - name: Initialize Kubernetes Control Plane
      become: true
      ansible.builtin.command:
        cmd: kubeadm init --apiserver-advertise-address=192.168.56.100 --node-name ctrl --pod-network-cidr=10.244.0.0/16
        creates: /etc/kubernetes/admin.conf

    - name: Create directories for persistence
      become: true
      ansible.builtin.file:
        path: "/home/vagrant/.kube"
        state: directory
        owner: vagrant
        group: vagrant
        mode: "0755"

    - name: Copy Kubeconfig to vagrant user
      become: true
      ansible.builtin.copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        group: vagrant
        owner: vagrant
        mode: "0644"
        remote_src: true

    - name: Copy Kubeconfig to host
      become: true
      ansible.builtin.fetch:
        src: /etc/kubernetes/admin.conf
        dest: ../admin.conf # == path/to/operation/ (because the playbook is run in ansible we go back by one)   
        flat: true

    - name: Copy Kube-flannel Configuration
      ansible.builtin.copy:
        src: ./kube/kube-flannel.yml
        dest: /home/vagrant/kube-flannel.yml
        owner: vagrant
        group: vagrant
        mode: "0644"

    - name: Apply Kube-flannel Network Configuration
      ansible.builtin.command: kubectl apply -f /home/vagrant/kube-flannel.yml

    - name: Install Helm Dependencies
      become: true
      ansible.builtin.apt:
        name:
          - debian-keyring
          - debian-archive-keyring
          - apt-transport-https
          - curl
          - gpg
        state: present
    

    - name: Unzip helm
      become: true
      ansible.builtin.unarchive: 
        src: "./helm/helm-v3.19.2-linux-amd64.tar.gz"
        dest: /usr/local/bin
        extra_opts: [ --strip-components=1, --show-stored-names, linux-amd64/helm ] 

    # - name: Import Helm GPG key
    #   become: true
    #   ansible.builtin.apt_key:
    #     url: https://packages.buildkite.com/helm-linux/helm-debian/gpgkey
    #     state: present
    #
    # - name: Add Helm Repository
    #   become: true
    #   ansible.builtin.apt_repository:
    #     repo: deb https://packages.buildkite.com/helm-linux/helm-debian/any/ any main
    #     state: present
    #
    # - name: Install Helm
    #   become: true
    #   ansible.builtin.apt:
    #     name:
    #       - helm
    #     state: present
    #     update_cache: true
    #
    - name: Install Helm Diff plugin
      kubernetes.core.helm_plugin:
        plugin_path: https://github.com/databus23/helm-diff
        state: present
