---
- name: Setup controller node
  hosts: ctrl
  become: yes

  tasks:
    - name: Initialize Kubernetes cluster
      shell: |
        kubeadm init --apiserver-advertise-address=192.168.57.100 --pod-network-cidr=10.244.0.0/16
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Create .kube directory
      file:
        path: /home/vagrant/.kube
        state: directory
        owner: vagrant
        group: vagrant

    - name: Copy admin.conf to user
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        owner: vagrant
        group: vagrant
        mode: '0600'
        remote_src: yes

    - name: Install Flannel CNI
      become: yes
      become_user: vagrant
      shell: |
        kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

    - name: Save join command
      shell: |
        kubeadm token create --print-join-command > /vagrant/join.sh