- name: Finalizing the Cluster Setup
  hosts: controller
  tasks:
    # Step 20: Install MetalLB
    # Takes the required files (CRD, IPAddressPool, L2Advertisement) and loads them into the control node,
    # Applies(downloads) the files onto the control node (removes tains and waits after CRD as instructed in assignment)
    - name: Ensure /tmp/metallb directory exists
      ansible.builtin.file:
        path: ~/metallb
        state: directory
        group: vagrant
        owner: vagrant
        mode: "0755"

    - name: Loop over MetalLB files and download
      ansible.builtin.copy:
        src: "{{ playbook_dir }}/metallb/{{ item }}"
        dest: "~/metallb/{{ item }}"
        group: vagrant
        owner: vagrant
        mode: "0644"
      loop:
        - metallb-native.yaml
        - ippool.yml
        - l2advertisement.yml

    - name: Apply MetalLB CRDs
      ansible.builtin.command:
        cmd: kubectl apply -f metallb-native.yaml
      args:
        chdir: ~/metallb/

    - name: Wait step
      ansible.builtin.command:
        cmd: kubectl wait -n metallb-system -l app=metallb,component=controller --for=condition=ready pod --timeout=60s
      register: metallb_wait
      retries: 5
      delay: 10
      until: metallb_wait.rc == 0

    - name: Add IPAddressPool
      ansible.builtin.command:
        cmd: kubectl apply -f ippool.yml
      args:
        chdir: ~/metallb/

    - name: Configure L2Advertisement
      ansible.builtin.command:
        cmd: kubectl apply -f l2advertisement.yml
      args:
        chdir: ~/metallb/
