---
- name: General setup for all Kubernetes nodes
  hosts: all
  become: yes

  tasks:
    - name: Disable swap immediately
      command: swapoff -a

    - name: Remove swap entry in /etc/fstab
      replace:
        path: /etc/fstab
        regexp: '^(.+swap.+)$'
        replace: '# \1'

    - name: Ensure kernel modules are loaded
      copy:
        dest: /etc/modules-load.d/containerd.conf
        content: |
          overlay
          br_netfilter

    - name: Load kernel modules
      command: modprobe {{ item }}
      loop:
        - overlay
        - br_netfilter
      ignore_errors: yes

    - name: Configure sysctl
      copy:
        dest: /etc/sysctl.d/99-kubernetes.conf
        content: |
          net.bridge.bridge-nf-call-ip6tables = 1
          net.bridge.bridge-nf-call-iptables  = 1
          net.ipv4.ip_forward                 = 1

    - name: Apply sysctl
      command: sysctl --system

    - name: Install required packages
      apt:
        name:
          - curl
          - gnupg
          - ca-certificates
          - apt-transport-https
        state: present
        update_cache: yes

    - name: Add Docker GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /usr/share/keyrings/docker.gpg
        mode: '0644'

    - name: Add Docker repository
      copy:
        dest: /etc/apt/sources.list.d/docker.list
        content: |
          deb [arch=amd64 signed-by=/usr/share/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu noble stable

    - name: Install containerd
      apt:
        name: containerd.io
        state: present
        update_cache: yes

    - name: Configure containerd
      shell: |
        containerd config default > /etc/containerd/config.toml

    - name: Enable Systemd cgroup driver
      replace:
        path: /etc/containerd/config.toml
        regexp: 'SystemdCgroup = false'
        replace: 'SystemdCgroup = true'

    - name: Restart containerd
      systemd:
        name: containerd
        state: restarted
        enabled: yes

    - name: Add Kubernetes GPG key
      get_url:
        url: https://pkgs.k8s.io/core:/stable:/v1.30/deb/Release.key
        dest: /usr/share/keyrings/kubernetes-apt-keyring.gpg
        mode: '0644'

    - name: Add Kubernetes repo
      copy:
        dest: /etc/apt/sources.list.d/kubernetes.list
        content: |
          deb [signed-by=/usr/share/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.30/deb/ /
    
    - name: Install Kubernetes packages
      apt:
        name:
          - kubelet
          - kubeadm
          - kubectl
        state: present
        update_cache: yes

    - name: Prevent Kubernetes packages from updating
      ansible.builtin.shell: |
        apt-mark hold kubelet kubeadm kubectl