global:
  domain: "team22.com"
  stableSubdomain: "team22"
  prereleaseSubdomain: "team22-dev"

app:
  image:
    repository: ghcr.io/doda2025-team22/app
    tag: latest
  replicaCount: 1
  port: 3000

modelservice:
  image:
    repository: ghcr.io/doda2025-team22/model-service
    tag: latest
  replicaCount: 1
  port: 8081

config:
  appConfig:
    FEATURE_FLAG_TEST: "true"
    API_TIMEOUT_MS: "5000"

secret:
  smtp:
    username: "usrnm"
    password: "pswrd"