global:
  domain: "192-168-56-90.sslip.io"
  stableSubdomain: "team22"
  prereleaseSubdomain: "team22-dev"

ingress:
  className: nginx

app:
  stable:
    image:
      repository: ghcr.io/doda2025-team22/app
      tag: latest
    replicaCount: 1
    port: 8080
  canary:
    image:
      repository: ghcr.io/doda2025-team22/app
      tag: canary
    replicaCount: 1
    port: 8080
  canaryWeight: 10
  stableWeight: 90

modelservice:
  image:
    repository: ghcr.io/doda2025-team22/model-service
    tag: latest
  replicaCount: 1
  port: 8081

config:
  appConfig:
    FEATURE_FLAG_TEST: "true"
    API_TIMEOUT_MS: "5000"

monitoring:
  enabled: true
  prometheusRelease: myprom

secret:
  smtp:
    username: "usrnm"
    password: "pswrd"